extends layout

block navbar
  nav.navbar.navbar-expand-lg.navbar-light.bg-white
    a.navbar-brand(href='/') 
      img(src="https://png.icons8.com/dusk/48/000000/product-documents.png")
      |   Stash Master
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/home')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/manage-users') User Management
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Jenkins
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#', ng-controller="svcintgn", ng-click="showJenkinsOutput()") Service Status
        li.nav-item
          a.nav-link(ng-click="showAbout()", href='#') About

block content
  .container
    .row
      .col-12.text-center
        br
        .alert.alert-warning Repository Overview
    .row
      .col-12.text-center
        .btn-group(role='group', aria-label='Repository Actions')
          button.btn.btn-outline-success(ng-click="createNewRepository()", type='button', data-toggle="tooltip", data-placement="right", title="Allows you to create a new git remote repository. The details will be listed as a card below.") 
            i.fa.fa-plus(aria-hidden="true") &nbsp;
            |  Create Repository
    br
  .container-fluid
    .row(ng-init="getRepoDetails()")
      .col-4(ng-repeat="item in stashlist")
        .card.card-custom-home.bg-light
          .card-body.text-center
            h5.card-title {{item}}
            hr
            p.card-text Clone this repository,
            h6.card-subtitle.mb-2.text-muted 
              kbd git clone http://{{host}}/{{item}}.git
              br
              br
              br
              i.text-dark.fa.fa-clone.fa-2x#cpyCloneCmd(onClick="cloneCommandCopied()", data-clipboard-action="copy", data-clipboard-text="http://{{host}}/{{item}}.git", data-toggle="tooltip", data-placement="left", title="Copy repository URL")
              span(style="margin-left: 5rem;") &nbsp;
              a.text-dark(href="/repository-dashboard/{{item}}")
                i.fa.fa-tachometer.fa-2x(data-toggle="tooltip", data-placement="right", title="Goto repository dashboard")
              //- Adding copy to clipboard feature using clipboardJS
              script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js")
            br
          .card-footer.text-center.bg-dark
            .btn-group(role='group', aria-label='Repository Actions')
              button.btn.btn-outline-success(ng-click="userRepoMgmnt(item)", type='button', data-toggle="modal", data-target="#manageusrperm")
                i.fa.fa-users(data-toggle="tooltip", data-placement="top", title="Allows you to allocate read/write permission(s) for this repository to registered users.")
                | &nbsp; Permissions
              button.btn.btn-outline-danger(ng-click="deleteRepo(item)", type='button', data-toggle="tooltip", data-placement="top", title="Allows you to permanently delete this repository from stash.") Delete Repository
  .container
    .row
      .col-12.text-center(ng-if="stashlist.length == 0")
        .alert.alert-primary.font-weight-bold 
          br
          br
          img(src="https://png.icons8.com/dusk/64/000000/empty-box.png")
          br
          br
          | Create a repository to get started !
          br
          br
  .modal.fade#manageusrperm(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Manage User Access
        .modal-body
          .container-fluid
            .row
              .col-12
                p.text-justify.font-weight-light
                    | Grant & revoke access to this repository over http/https. To add/remove users, visit the User Management section. R stands
                    | for Read Only access and W stands for Write Only access. To provide Read & Write access, check both the options.
                hr
                .alert.alert-primary
                  h5.font-weight-light Permission Overview
                br
          .container-fluid
            form.text-center.row
              .form-group.col-12(ng-repeat='user in permstack.pmap')
                .row
                  .col-4
                    label.font-weight-bold(ng-model="updatedpermstack[$index][0]", for='username') {{ user.username }}
                    input(type="hidden", ng-init="usrs[$index] = user.username")
                  .col-4
                    .form-check.form-check-inline
                      input#inlineCheckbox1.form-check-input(ng-model="readP[$index]", type='checkbox', value='read', ng-checked="user.readP")
                      label.form-check-label(for='inlineCheckbox1') Read (R)
                  .col-4
                    .form-check.form-check-inline
                      input#inlineCheckbox2.form-check-input(ng-model="writeP[$index]", type='checkbox', value='write', ng-checked="user.writeP")
                      label.form-check-label(for='inlineCheckbox2') Write (W)
              br
        .modal-footer
          button.btn.btn-warning(ng-click="submitUserRepoMgmnt(permstack.reponame)", type='button', data-dismiss="modal") Save
          button.btn.btn-secondary(type='button', data-dismiss="modal") Close

