extends layout

block content
  .container-fluid
    .row
      .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12.text-center
        br
        br
        br
        br
        br
        br
        br
        br
        h1.display-1 Stash 
          img(onClick="location.href='/home'", src="https://png.icons8.com/color/96/000000/yoda.png", data-toggle="tooltip", data-placement="top", title="Click me to get started !")
          |  Master
        br
        br
        h3.font-weight-light Create Repository. Manage User Access. Simplified.