extends layout

block navbar
  nav.navbar.navbar-expand-lg.navbar-light.bg-white
    a.navbar-brand(href='/') 
      img(src="https://png.icons8.com/color/48/000000/yoda.png")
      |   Stash Master
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/home')
            | Home
        li.nav-item.active
          a.nav-link(href='/manage-users') User Management 
            span.sr-only (current)
        li.nav-item.dropdown 
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') 
            | Jenkins 
          .dropdown-menu(aria-labelledby='navbarDropdown') 
            a.dropdown-item(href='#', ng-controller="svcintgn", ng-click="showJenkinsOutput()") Service Status 
            a.dropdown-item(href='#') Goto Jenkins 
        li.nav-item
          a.nav-link(ng-click="showAbout()", href='#') About

block content
  .container-fluid(ng-init="init('" + reponame + "')")
    .row
      .col-12.text-center
        br
        .alert.alert-success
          h3=reponame
      .col-12    
        form
          .form-row
            .col-2.text-center(ng-init="getRepositoryDetails()")
              select.form-control
                option(ng-repeat="branch in repodetails.branches") {{branch}}
    .row
      .col-12.text-center
        br

