extends layout

block navbar
  nav.animated.fadeInDownBig.navbar.navbar-expand-lg.navbar-light.bg-white
    a.navbar-brand(href='/') 
      img(src="https://img.icons8.com/color/48/000000/compare-git.png")
      |   Stash Master
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/home')
            | Home
        li.nav-item
          a.nav-link(href='/manage-users') User Management 
            span.sr-only (current)
        li.nav-item.dropdown 
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') 
            | Jenkins 
          .dropdown-menu(aria-labelledby='navbarDropdown') 
            a.dropdown-item(href='#', ng-controller="svcintgn", ng-click="showJenkinsOutput()") Service Status  
        li.nav-item
          a.nav-link(ng-app="home", ng-controller="svcintgn", ng-click="showAbout()", href='#') About

block content
  .container-fluid(ng-init="init('" + reponame + "')")
    .row
      .col-12.text-center.animated.slideInLeft
        br
        .alert.alert-success
          h3=reponame
      .col-12.animated.slideInRight
        form
          .form-row.alert.alert-info
            .col-2(ng-init="getRepositoryDetails()")
              label.mr-sm-2.text-left 
                i.fa.fa-code-fork(aria-hidden="true")  
                | &nbsp; Branch &nbsp;  
              button.btn.btn-outline-dark.btn-sm.pull-right(ng-click="createNewBranch()")
                i.fa.fa-plus(aria-hidden="true")
                | &nbsp; New Branch
              select.form-control.text-center(ng-model="selectedBranch", ng-change="fetchView(selectedBranch)", ng-options="branch for branch in repodetails.branches")
            .col-2.text-center
              label.mr-sm-2
                i.fa.fa-check-square-o(aria-hidden="true")  
                | &nbsp; {{repodetails.ccount}} Commits &nbsp;  
              br
              label.mr-sm-2
                i.fa.fa-check-square-o(aria-hidden="true")  
                | &nbsp; {{repodetails.branches.length}} Branches &nbsp;  
            .col-2
            .col-2
              button.btn.btn-outline-dark.btn-sm.pull-right(data-toggle="modal", data-target="#networkGraphModal") Network Graph
            .col-2
              button.btn.btn-outline-dark.btn-sm.pull-right(data-toggle="modal", data-target="#webhookModal", ng-click="fetchWebhooks()") Webhook Configuration
            .col-2
              button.btn.btn-outline-dark.btn-sm.pull-right(data-toggle="modal", data-target="#newPRModal", ng-click="newPR()") New pull request
              br
              label.mr-sm-2.pull-right(style="padding-top: 10px;")
                i.fa.fa-bullhorn(aria-hidden="true")  
                | &nbsp; {{prlist.cprs}} Open pull request
  //- pr merge in progress alert
  .container-fluid(ng-show="prmwip.length != 0")
    .row
      .col-12
        .alert.alert-warning(role='alert', ng-bind-html='prmwip')
  .container-fluid
    .row
      //- left sidebar
      .col-6.text-center
        //- Page load default card
        .card.card-custom-home.border-warning(ng-hide="selectedBranch != ''")
          .card-body
            h5.card-title.font-weight-light Choose a branch to view commit history
        //- Commit history card
        .card.card-custom-home.border-warning(ng-show="selectedBranch != ''")
          .row
            .col-4
              canvas.container#gitGraph(style="padding-top: 5rem;")
            .col-8
              .card-body
                h5.card-title Commit History for 
                  kbd {{selectedBranch}}
                hr
                p.card.card-custom-home.border-dark.card-text.text-left(style="padding-left: 20px;", ng-repeat="item in repohistory", ng-bind-html="item")
                hr        
      //- right sidebar
      .col-6.text-center
        //- Page load default card
        .card.card-custom-home.border-warning(ng-hide="prlist.cprs > 0")
          .card-body
            h5.card-title.font-weight-light Your PRs will be listed here
        //- Page load default card
        .card.card-custom-home.border-warning(ng-show="prlist.cprs > 0")
          .card-body(ng-init="getPRs()")
            h5.card-title Open PR's
            br
            table.table
              thead
                tr
                  th(scope='col') #
                  th(scope='col') From/To Branches
                  th(scope='col') Date Submitted
                  th(scope='col') 
              tbody
                tr(ng-repeat="pr in prlist.prs")
                  th(scope='row') {{$index+1}}
                  td {{pr.prfrom}} --> {{pr.prto}}
                  td {{pr.date}}
                  td.btn-group 
                    button.btn.btn-success(type="button", ng-click="approvePR(pr.token)") Approve and merge
                    button.btn.btn-danger(type="button", ng-click="discardPR(pr.token)") Discard
            hr
  .container-fluid
    .row
      .col-12
        br
        br
        br
  //- New PR modal
  #newPRModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document', style='max-width: 90% !important;')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Compare changes 
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p.font-weight-light Choose different branches below to discuss and review changes.
            form.form-inline
              label.mr-sm-4(for='inlineFormInputName2') From
              select#inlineFormInputName2.form-control.mr-sm-4(ng-model="prfrom", ng-change="getPRDiff()", ng-options="branch for branch in repodetails.branches")
              i.fa.fa-arrow-right.mr-sm-4(aria-hidden='true')
              label.mr-sm-4(for='inlineFormInputGroupUsername2') To
              select#inlineFormInputName2.form-control.mr-sm-4(ng-model="prto", ng-change="getPRDiff()", ng-options="branch for branch in repodetails.branches")
              button.btn.btn-success.mr-sm-4.pull-right(ng-show="prcreatebtn", ng-click='raisePR()', type='button', data-dismiss='modal') Create pull request
          p.border.border-warning(style="padding: 10px;", ng-show="prcreatebtn", ng-bind-html="prdiff")
  //- Webhook modal
  #webhookModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document', style='max-width: 90% !important;')
      //- loading ckeeditor
      script(src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js")
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Webhook customization 
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p.font-weight-light Webhooks provide a way for notifications to be delivered to an external web server whenever certain actions occur on a repository or organization. Webhooks can be triggered whenever a variety of actions are performed on a repository or an organization.
          form.form-inline
            button.btn.btn-outline-primary.pull-left(type="button", ng-click='createNewHook()') 
              i.fa.fa-plus(aria-hidden="true")
              | &nbsp; Create new hook
            label.mr-sm-4(for='inlineFormInputName2') &nbsp;
            button.btn.btn-outline-success.pull-left(type="button", ng-show="webhookcontent.length > 0", ng-click='saveWebhookContent()') 
              i.fa.fa-check(aria-hidden="true")
              | &nbsp; Save
            label.mr-sm-4(for='inlineFormInputName2') &nbsp;
          br
          form.form-inline
            label.mr-sm-4(for='inlineFormInputName2') Clone a sample hook
            select#inlineFormInputName2.form-control.mr-sm-4.pull-right(ng-model="selectedSampleWebhook", ng-change="loadSampleWebhookData()", ng-options="item.filename for item in webhooks")
            label.mr-sm-4(for='inlineFormInputName2') &nbsp;
          br
          textarea#editor.container-fluid(rows="23", ng-show="webhookcontent.length > 0", ng-model="webhookcontent")
  //- Network Graph modal
  //- #networkGraphModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  //-   .modal-dialog.modal-lg(role='document', style='max-width: 90% !important;')
  //-     .modal-content
  //-       .modal-header
  //-         h5#exampleModalLabel.modal-title GIT Network Graph 
  //-         button.close(type='button', data-dismiss='modal', aria-label='Close')
  //-           span(aria-hidden='true') ×
  //-       .modal-body(ng-init="generateGitGraph()")
  //-         canvas.container#gitGraph
  //- GitGraph JS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.13.0/gitgraph.min.css', async)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.13.0/gitgraph.min.js', async)